mat-toolbar {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; */
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.mat-drawer-content {
  /* padding-top: 70px; */
  /* width: 100vw;
  overflow-x: hidden; */
}

/* navbar desktop list */
.nav-menu-link a {
  margin-left: 5px;
}
.nav-menu-link a:first-child {
  margin-left: 0;
}
/* mode=over SideBar */
mat-sidenav {
  width: 220px;
}
/* mat-sidenav-content {
} */
mat-toolbar .active {
  background: #3f51b5;
  color: #fff;
  border: 1px solid #fff;
}
mat-nav-list .active {
  background: #3f51b5;
  color: #fff;
  border: 1px solid #fff;
}
.navbar-brand {
  outline: none !important;
  cursor: pointer;
}
.navbar-brand small {
  display: block;
  line-height: 0;
  font-size: 8px;
  margin-top: 2px;
}
.mat-drawer-content {
  width: 100vw;
  overflow-x: hidden;
}
