<div class="main-login-div">
<div *ngIf="!isLoading">

<!-- <div class="logo-div">
  <img src="assets/img/logo.png" alt="" class="logo" width="80">
</div>   -->
<form
  #authForm="ngForm"
  (ngSubmit)="onSubmit(authForm)">
  <mat-card>
    <h4>
      USER LOGIN
    </h4>
    <mat-form-field class="w-100">
      <mat-label>User Name</mat-label>
      <input
        matInput
        type="email"
        ngModel
        name="email"
        required
        email>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        ngModel
        name="password"
        required
        minlength="6">
    </mat-form-field>
    <button 
      mat-raised-button 
      type="submit"
      color="primary"
      class="btn-submit">
      Login
      </button>
  </mat-card>
</form>
</div>
<div class="spinner-div">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
</div>