<mat-card>
  <h2>Data Entry Form</h2>
  <hr>
  <form
    class="row"
    [formGroup]="dataEntryForm"
    (ngSubmit)="onSubmit()"
    #dataEntryRef="ngForm">
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Business Name *</mat-label>
      <input matInput placeholder="" formControlName="businessName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Primary Catagory *</mat-label>

      <mat-select
        formControlName="primaryCatagory"
        (selectionChange)="setBusinessCategory()">
        <mat-option *ngFor="let eachCatagory of primaryCatagoryArr; let i = index" [value]="eachCatagory">
          {{ primaryCatagoryArr[i] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <div class="col-12">
      <mat-checkbox>Select all Business Category</mat-checkbox>
    </div> -->
    <mat-form-field appearance="fill" class="col-12">
      <!-- <mat-label>Business Category *</mat-label> -->
      <!-- <mat-select
        formControlName="businessCategory"
        multiple>
        <mat-option *ngFor="let eachBCatagory of selectedBusinessCategory; let i = index" [value]="eachBCatagory">
          {{ selectedBusinessCategory[i] }}
        </mat-option>
      </mat-select> -->
      <mat-label>Business Category *</mat-label>
      <mat-select
        formControlName="businessCategory"
        multiple>
          <mat-option
            #allSelected
            (click)="toggleAllSelection()"
            [value]="0">Select All</mat-option>
          <mat-option
            *ngFor="let filters of selectedBusinessCategory"
            [value]="filters"
            (click)="tosslePerOne(allSelected.viewValue)">
            {{filters}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Bus cat</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Services Offered *</mat-label>

      <input matInput placeholder="" formControlName="servicesOffered">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Description of Service *</mat-label>

      <input matInput placeholder="" formControlName="desOfService">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Online Service *</mat-label>

      <input matInput placeholder="" formControlName="onlineService">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Address Line 1 *</mat-label>

      <input matInput placeholder="" formControlName="addressLine1">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Address Line 2 *</mat-label>

      <input matInput placeholder="" formControlName="addressLine2">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Address Line 3 *</mat-label>

      <input matInput placeholder="" formControlName="addressLine3">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Country *</mat-label>

      <input matInput placeholder="" formControlName="country">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Postcode *</mat-label>

      <input matInput placeholder="" formControlName="postcode">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Copmany Name *</mat-label>

      <input matInput placeholder="" formControlName="copmanyName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Company Address *</mat-label>

      <input matInput placeholder="" formControlName="companyAddress">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Company Number *</mat-label>

      <input matInput placeholder="" formControlName="companyNumber">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Name of Contact *</mat-label>

      <input matInput placeholder="" formControlName="nameOfContact">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Email of Contact Person *</mat-label>

      <input matInput placeholder="" formControlName="emailOfContactPerson">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Telephone Number *</mat-label>

      <input matInput placeholder="" formControlName="telephoneNumber">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Cellphone Number *</mat-label>

      <input matInput placeholder="" formControlName="cellphoneNumber">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Email *</mat-label>

      <input matInput placeholder="" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-12">
      <mat-label>Website *</mat-label>

      <input matInput placeholder="" formControlName="website">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Facebook Account *</mat-label>

      <input matInput placeholder="" formControlName="fbAccount">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Follower/s *</mat-label>

      <input matInput placeholder="" formControlName="fbFollower">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Instagram Account *</mat-label>

      <input matInput placeholder="" formControlName="instaAccount">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Follower/s *</mat-label>

      <input matInput placeholder="" formControlName="instaFollower">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Twitter Account *</mat-label>

      <input matInput placeholder="" formControlName="twitterAccount">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Follower/s *</mat-label>

      <input matInput placeholder="" formControlName="twitterFollower">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Youtube Channel *</mat-label>

      <input matInput placeholder="" formControlName="youtubeChannel">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Subscriber/s *</mat-label>

      <input matInput placeholder="" formControlName="youtubeSubscriber">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Pinterest Account *</mat-label>

      <input matInput placeholder="" formControlName="pinterestAccount">
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-6 col-12">
      <mat-label>Follower/s *</mat-label>

      <input matInput placeholder="" formControlName="pinterestFollower">
    </mat-form-field>
    <div class="col-12 justify-content-center">
      <button
        type="submit"
        mat-raised-button
        color="primary">
        Submit 
      </button>
    </div>
    <div class="col-12">
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="resetForm1()">
        Reset Form <i class="fas fa-redo-alt"></i>
      </button>
    </div>
  </form>
</mat-card>
<br>
<div *ngIf="previewMode">
  <app-preiew-mode></app-preiew-mode>
</div>
<!-- 
<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Primary Catagory</mat-label>
  <input type="text"
          placeholder="Pick one"
          aria-label="Primary Catagory"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
-->
<div class="preview-modal" *ngIf="previewMode">
  <div class="backdrop-overlay"></div>
<mat-card class="row">
  <div class="close-div">
    <i class="" (click)="editData()">close</i>
    <!-- <i (click)="editData()" class="far fa-times-circle"></i> -->
  </div>
  <div class="col-12">
    <h2>Preview Form</h2>
  </div>
  <div class="col-12">
    <b>Business Name:</b>
    <span>{{ dataEntryFormDATA.businessName }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Primary Catagory</b>
    <span>{{ dataEntryFormDATA.primaryCatagory }}</span>
  </div>
  <div class="col-12">
    <b>Business Category:</b>
    <span>{{ dataEntryFormDATA.businessCategory }}</span>
  </div>
  <div class="col-12">
    <b>Services Offered:</b>
    <span>{{ dataEntryFormDATA.servicesOffered }}</span>
  </div>
  <div class="col-12">
    <b>Description of Service:</b>
    <span>{{ dataEntryFormDATA.desOfService }}</span>
  </div>
  <div class="col-12">
    <b>Online Service:</b>
    <span>{{ dataEntryFormDATA.onlineService }}</span>
  </div>
  <div class="col-12">
    <b>Address Line 1:</b>
    <span>{{ dataEntryFormDATA.addressLine1 }}</span>
  </div>
  <div class="col-12">
    <b>Address Line 2:</b>
    <span>{{ dataEntryFormDATA.addressLine2 }}</span>
  </div>
  <div class="col-12">
    <b>Address Line 3:</b>
    <span>{{ dataEntryFormDATA.addressLine3 }}</span>
  </div>
  <div class="col-12">
    <b>Country:</b>
    <span>{{ dataEntryFormDATA.country }}</span>
  </div>
  <div class="col-12">
    <b>Postcode:</b>
    <span>{{ dataEntryFormDATA.postcode }}</span>
  </div>
  <div class="col-12">
    <b>Copmany Name:</b>
    <span>{{ dataEntryFormDATA.copmanyName }}</span>
  </div>
  <div class="col-12">
    <b>Company Address:</b>
    <span>{{ dataEntryFormDATA.companyAddress }}</span>
  </div>
  <div class="col-12">
    <b>Company Number:</b>
    <span>{{ dataEntryFormDATA.companyNumber }}</span>
  </div>
  <div class="col-12">
    <b>Name of Contact:</b>
    <span>{{ dataEntryFormDATA.nameOfContact }}</span>
  </div>
  <div class="col-12">
    <b>Email of Contact Person:</b>
    <span>{{ dataEntryFormDATA.emailOfContactPerson }}</span>
  </div>
  <div class="col-12">
    <b>Telephone Number:</b>
    <span>{{ dataEntryFormDATA.telephoneNumber }}</span>
  </div>
  <div class="col-12">
    <b>Cellphone Number:</b>
    <span>{{ dataEntryFormDATA.cellphoneNumber }}</span>
  </div>
  <div class="col-12">
    <b>Email:</b>
    <span>{{ dataEntryFormDATA.email }}</span>
  </div>
  <div class="col-12">
    <b>Website:</b>
    <span>{{ dataEntryFormDATA.website }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Facebook Account:</b>
    <span>{{ dataEntryFormDATA.fbAccount }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Follower/s:</b>
    <span>{{ dataEntryFormDATA.fbFollower }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Instagram Account</b>
    <span>{{ dataEntryFormDATA.instaAccount }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Follower/s</b>
    <span>{{ dataEntryFormDATA.instaFollower }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Twitter Account</b>
    <span>{{ dataEntryFormDATA.twitterAccount }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Follower/s</b>
    <span>{{ dataEntryFormDATA.twitterFollower }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Youtube Channel</b>
    <span>{{ dataEntryFormDATA.youtubeChannel }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Subscriber/s</b>
    <span>{{ dataEntryFormDATA.youtubeSubscriber }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Pinterest Account</b>
    <span>{{ dataEntryFormDATA.pinterestAccount }}</span>
  </div>
  <div class="col-md-6 col-12">
    <b>Follower/s</b>
    <span>{{ dataEntryFormDATA.pinterestFollower }}</span>
  </div>
  <hr>
  <div class="col-12 justify-content-between">
    <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="ConfirmData()"
    >Confirm</button>
  <button
    type="button"
    mat-raised-button
    color="warn"
    (click)="editData()"
    >Edit</button>
  </div>
</mat-card>
</div>
<div class="my-spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>