mat-card.data-entry-form {
  width: 75vw;
  margin: 20px auto;
}
@media only screen and (max-width: 770px) {
  mat-card.data-entry-form {
    width: auto;
    margin: 10px;
  }
}

.input-spinner {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}
.form-icon-div{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: 0 0 10px -5px #111;
}
.form-icon-div button{
  height: 100%;
  padding: 0;
  /* background: #6a5acd; */
  border-radius: 4px 0 0 4px;
}
.form-icon-div button svg{
font-size: 22px;
}
.form-icon-div mat-form-field{
  width: 100%;
  width: -webkit-fill-available;
}
.btwn-btn{
  display: inline-block;
  width: 10px;
}
.btn-div-11 svg{
font-size: 16px;
}
